.centre-logo {
  grid-column: centre-start / centre-end;
  width: 25%;
  margin: 0 auto;
}

.form {
  font-family: var(--font-paragraph);
  background-color: var(--section-bg);
  grid-column: centre-start / centre-end;
  display: grid;
  grid-template-columns: 35rem;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 4.5rem 0;
}

.form .section-title {
  font-family: inherit;
  font-size: 5rem;
}

.form h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--main-purple);
}

.form div:not(.help-links, .tabs) {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.help-links {
  display: flex;
  font-size: 1.4rem;
  color: var(--main-purple);
  align-items: center;
  justify-content: space-between;
}

.help-links a:hover {
  color: var(--secondary-purple);
}

input[type="file"] {
  height: 4.2rem;
  border: 1px var(--main-purple) solid;
  background-color: #fff;
}

.tabs {
  font-size: 2rem;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  margin-bottom: 4rem;
}

.tabs div {
  font-family: inherit;
  cursor: pointer;
}

.selected-tab {
  color: var(--sub-paragraph-colour);
  position: relative;
}

.selected-tab::after {
  content: "";
  position: absolute;
  display: block;
  width: 104%;
  height: 0.2rem;
  background-color: var(--secondary-purple);
  bottom: -0.8rem;
  right: -0.4rem;
}
