.pricing-container {
    grid-column: centre-start / centre-end;
    font-family: var(--font-heading);
}

.packages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 2.6rem;
    justify-content: center;
    padding: 0 3rem;
}

.package--1,
.package--3 {
    border: 0.4rem var(--main-purple) solid;
    border-radius: 1rem;
    grid-row: 2 / 6;
    color: var(--main-font-colour);
}

.package--2 {
    grid-row: 1 / 5;
    border-radius: 1rem;
    background-color: var(--main-blue);
    color: #fff;
}

.package-btn--1,
.package-btn--3 {
    width: 20rem;
    margin-top: 5rem;
    grid-row: 6 / 7;

    justify-self: center;
}

.package-btn--3 {
    grid-column: 3 / 4;
}

.package-btn--2 {
    justify-self: center;

    width: 20rem;
    grid-row: 5 / 6;
    margin-top: 5rem;
}

.package-btn--1 .cta-btn,
.package-btn--3 .cta-btn {
    background-color: var(--main-purple);
}

.package-btn--1 .cta-btn:hover,
.package-btn--3 .cta-btn:hover {
    background-color: var(--secondary-purple);
}

.package {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.package h4 {
    font-size: 2.2rem;
    
}

.price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.6rem;
    margin-top: 1.4rem;
}

.price-box span:first-of-type {
    font-size: 7rem;
}

.price-box p {
    margin-top: -2.6rem;
}

.package-features {
    list-style: circle;
    direction: rtl;
    font-family: var(--font-paragraph);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 4rem;
}