.terms {
    grid-column: full-start / full-end;
    background-color: var(--section-bg);
    border-radius: 2rem;
    font-family: var(--font-paragraph);
}

.terms-container {
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: end;
    gap: 3rem;
    text-align: right;
}

h3 {
    color: var(--main-purple);
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

p, ul {
    max-width: 75%;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.8;
}

ul {
    list-style:decimal;
    direction: rtl;
    padding-right: 2rem;
}

