
.section-paragraph {
  font-size: 1.8rem;
}

.introduction {
  grid-column: centre-start / centre-end;

  display: grid;
  grid-template-columns: 50rem 1fr;
  align-items: center;
  justify-content: center;
}

.intro-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img svg {
  height: 40rem;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.intro-text .section-paragraph {
    direction: rtl;

}


/* ==================== HOW YOSOR SECTION  ====================*/

.how-yosor-section {
  grid-column: full-start / full-end;
  background-color: var(--section-bg);
  border-radius: 2rem;
}

.steps-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 20vh);
  column-gap: 3.5rem;
  padding: 0 3rem;
}

.step {
    font-family: var(--font-paragraph);
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2.2rem; */
    padding-bottom: 3rem;
}

.step--1 {
  grid-row: 1 / 5;
  background-color: var(--purple--light-1);
}
.step--2 {
  grid-row: 2 / 6;
  background-color: var(--purple--light-2);
}
.step--3 {
  grid-row: 3 / 7;
  background-color: var(--purple--light-3);
}
.step--4 {
  grid-row: 4 / 8;
  background-color: var(--purple--light-4);
}

.step-number {
    color: var(--step-number-colour);
    font-size: 8rem;
    margin-top: 1.4rem;
}

.step-detail {
    color: var(--step-detail-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.step-detail h4,
.item-detail h4 {
    font-family: var(--font-heading);
    text-align: center;
    font-size: 2.4rem;
    padding: 0 1.2rem;
}

.step-detail p,
.item-detail p {
    direction: rtl;
    font-family: inherit;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    padding: 0 4rem;
}

/* ==================== DROPSHOP SECTION  ====================*/

.dropshop-section {
    grid-column: full-start / full-end;
    background: linear-gradient(175deg, rgba(120,80,156,1) 40%, rgba(63,122,183,1) 61%, rgba(3,167,211,1) 86%);
    border-radius: 2rem;
}

.dropshop-section .section-title {
    color: #fff;
    margin-bottom: 10rem;
}

.how-container {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    padding: 0 6rem;
    margin-bottom: 10rem;

    position: relative;
}

.how-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.item-detail {
    font-family: var(--font-paragraph);
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.item-detail p {
    font-size: 1.8rem;
}

.item-img {
    width: 50%;
}
.item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10rem;
}

.item-img svg {
    height: 20rem;
}

.item--4 .item-img svg {
    height: 18rem;
}

.dot {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: var(--body-colour);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}

.how-container::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: var(--body-colour);;
    position: absolute;
    left: 50%;
    top: 0;

    z-index: 10;
}

  /* ================== ANIMATION ==================*/

  #bag,
  #shoe,
  #clothes,
  #headphone,
  #tv,
  #mouse,
  #toy {
      animation: scale 2s linear forwards infinite;
      animation-delay: 2s ;
      transform-origin: center;
      transform-box: fill-box;
  }

@keyframes scale {
    0% {
        transform: scale(1);
             
    }

    40% {
        transform: scale(1.06);
             
    }

    60% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.06);
    }
}
#items g {
    opacity: 0;
    animation: dropIn 8s ease forwards infinite;
    animation-delay: calc(var(--order) * 200ms);
}

#Money {
    opacity: 0;
    animation: dropIn 3s ease forwards infinite;
}

@keyframes dropIn {
    20% {
        opacity: 0;
        transform: translateY(-20%);
    }

    30%, 100% {
        opacity: 1;
        transform: translateY(0);
    }

}

/* #squares g {
    animation: goUp 4s ease forwards infinite;
    animation-delay: calc(var(--order) * 200ms);
} */

#boxes g{
    opacity: 0;
    animation: dropIn 3s ease forwards infinite;
    animation-delay: calc(var(--order) * 150ms);
}

@keyframes newDropIn {
    
}


@keyframes goUp {
    20% {
        opacity: 0;
        transform: translateY(10%);
    }

    30%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
}

#dropshop-img--2 {
    opacity: 0;
    animation: goUp 4s ease forwards infinite;
}
